* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    height: 17rem;
    width: 22rem;
    border: 2px solid black;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgb(228, 224, 224);
    background-color: rgb(248, 248, 248);
}

#ready {
    font-size: 1.5rem;
    font-weight: 700;
}

#img-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    text-align: center;
}

.window button {
    width: 5rem;
}

.window img {
    height: 7.8125rem;
    width: auto;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem;
}

#game img {
    cursor: url("../assets/Crosshairs_Red.svg.png") 16 16, auto;
}

.pop-up {
    top: -20rem;
    height: 20rem;
    width: 25rem;
    left: 50%;
    position: absolute;
    transition: .5s;
    background-color: rgb(244, 245, 247);
    margin-left: -12.5rem;
    margin-top: -10rem;
    padding: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 2px 2px rgb(244, 241, 241);
    border-radius: 12px;
}

.active {
    animation: slidein .65s forwards;
    animation-delay: .1s;
}
  
@keyframes slidein {
    from {
      top: -20rem;
    }
    to {
      top: 50%;
    }
}

#button-container {
    display: flex;
    justify-content: space-evenly;
}

#button-container > button {
    width: 6rem;
    text-align: center;
}

#form {
    font-size: 1rem;
    display: flex;
    gap: .5rem;
}

#form > input {
    width: 15rem;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#tagline {
    font-size: 1.5rem;
    font-weight: 700;
}

#table {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    flex: 1;
    width: 100%;
}

.item {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
}

#leaderboard > button {
    width: 10rem;
}

.error-text {
    font-size: 12px;
    color: red;
}