* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
}

.window {
    height: 20rem;
    width: 25rem;
    border: 1px solid rgb(246, 243, 243);
    box-shadow: 0px 0px 10px 1px rgb(241, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#ready {
    font-size: 1.5rem;
    font-weight: 700;
}

#img-container {
    display: flex;
    gap: 1rem;
}

.window button {
    width: 5rem;
}

.window img {
    height: 7.8125rem;
    object-fit: contain;
}

#game {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#game img {
    cursor: url("../assets/Crosshairs_Red.svg.png") 16 16, auto;
}

.pop-up {
    top: -20rem;
    height: 20rem;
    width: 25rem;
    left: 50%;
    position: absolute;
    transition: .5s;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(249, 247, 247);
    margin-left: -12.5rem;
    margin-top: -10rem;
    padding: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.active {
    animation: slidein .65s forwards;
    animation-delay: .1s;
}
  
@keyframes slidein {
    from {
      top: -20rem;
    }
    to {
      top: 50%;
    }
}

#button-container {
    display: flex;
    justify-content: space-evenly;
}

#button-container > button {
    width: 6rem;
    text-align: center;
}

#form {
    font-size: 1rem;
    display: flex;
    gap: .5rem;
}

#form > input {
    width: 15rem;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#tagline {
    font-size: 1.5rem;
    font-weight: 700;
}

#table {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    flex: 1;
    width: 100%;
}

.item {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
}

#leaderboard > button {
    width: 10rem;
}

.error-text {
    font-size: 12px;
    color: red;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}